* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    width: 300px;
}

.dropdown button {
    background-color: rgb(119, 20, 211);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 2px 2px;
    width: 80px;
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.dropdown {
    width: 80px;
}

.dropdown .content {
    background-color: rgb(10, 165, 113);
    width: 100px; 
    position: absolute;
    display: none;
    box-shadow: 4px 4px 5px rgb(1, 92, 62);
}

.dropdown:hover .content {
    display: block;
}

.dropdown button:hover {
    background-color: rgb(187, 123, 247);
    color: rgb(77, 14, 136);
}

.dropdown a:hover {
    background-color: rgb(88, 184, 152);
    color: rgb(4, 71, 49);
}